$Pale-Blue: hsl(225, 100%, 94%);
$Bright-Blue: hsl(245, 75%, 52%);
$Very-Pale-Blue: hsl(225, 100%, 98%);
$Desaturated-Blue: hsl(224, 23%, 55%);
$Dark-Blue: hsl(223, 47%, 23%);

@font-face {
  font-family: "RedHatDisplay";
  src: url(./assets/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf)
    format("truetype");
  font-style: normal;
}

@mixin heading-text {
  font-family: "ReadHatDisplay";
  font-size: 2rem;
  color: $Dark-Blue;
  font-weight: 900;
  letter-spacing: 0px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;

  font-family: "RedHatDisplay", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  background-color: $Very-Pale-Blue;
}

main {
  width: 100vw;
  height: 100vh;
}

.card {
  width: 327px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    @include heading-text();
    margin: 0;
  }

  p {
    text-align: center;
    font-size: 16px;
    margin: 0;
  }
}

.card-img {
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
