@font-face {
  font-family: "RedHatDisplay";
  src: url(./assets/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf) format("truetype");
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  font-family: "RedHatDisplay", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: hsl(225, 100%, 98%);
}

main {
  width: 100vw;
  height: 100vh;
}

.card {
  min-width: 327px;
  max-width: 450px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
}

.card-img {
  width: 100%;
  border: 1px solid red;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}